html {
    font-family: 'Work Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

body {
    background-color: #FF7058;
    color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-weight: normal;
}

input {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.input {
    border: 1px solid #d7d7d7;
    border-radius: 3px 0 0 3px;
    background-color: #e7e7e7;
    text-align: center;
    font-weight: bold;
    color: #777;
    padding: 5px 10px;
    height: 44px;
    font-size: 100%;
    display: block;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

.button {
    font-size: 100%;
    font-family: inherit;
    height: 44px;
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 3px 0 0 3px;
    background-color: #e7e7e7;
    text-transform: uppercase;
    padding: 5px 40px;
}

.button--primary {
    background-color: #009688;
    border-color: #009688;
    color: #d7d7d7;
}

.header {
    text-align: center;
}

.header__image {
    margin-right: 10px;
    width: 150px;
}

.header__text {
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.navbar .header {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}

.navbar .header__image {
    width: auto;
}

.navbar .header__text {
    font-size: 20px;
}

.navbar__form {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.navbar__input {
    width: 100%;
    height: 42px;
    border: 1px solid #d7d7d7;
    border-radius: 3px 0 0 3px;
    font-family: inherit;
    text-transform: uppercase;
    background-color: #e7e7e7;
    color: #777;
    box-sizing: border-box;
    padding: 5px 10px;
}

.navbar__submit {
    height: 42px;
    background-color: #009688;
    color: #fff;
    border: 1px solid #009688;
    border-radius: 0 3px 3px 0;
    outline: 0;
    box-sizing: border-box;
    padding: 5px 10px;
}

.page {
    height: 0;
    min-height: 100vh;
    text-align: center;
    position: relative;
}

.page__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    height: 100%;
}

.copyright {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
}

/*** INDEX ***/
.page--index {
    animation: page-in 1s ease-out;
}

.trash-image {
    display: none;
}

@media (min-width: 768px) {
    .page--index {
        padding-left: 300px;
    }

    .trash-image {
        display: block;
        position: absolute;
        width: 700px;
        bottom: 0;
        left: 0;
        animation: trash-in 2s ease-out;
        transform: translate(-32%, 14%)
    }
}

@keyframes trash-in {
    from {
        transform: translate(-100%, 14%)
    }
}

@keyframes page-in {
    from {
        opacity: 0;
        padding-top: 20px;
    }
}

/*** FOUND ***/
.page--found__text {
    font-size: 18px;
    font-weight: initial;
    margin-top: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0;
}

.page--found__material {
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 0;
}

.recycle-bin {
    width: 250px;
    max-width: 100%;
}

/*** NOT FOUND ***/
.garbage-truck {
    animation: garbage-truck 5s linear;
    position: absolute;
    height: 20%;
    bottom: 0;
    left: 0;
    transform: translateX(-100%)
}

@keyframes garbage-truck {
    from {
        transform: translateX(-100%);
        left: 0;
    }

    to {
        transform: translateX(100%);
        left: 100%;
    }
}
/*** EMAIL ***/
